# Config files
*.txt
*.xml
*.config

# shared objects
*.dll

# executables
*.exe

# Microsoft Visual Studio files:  resource objects
*.aps
*.res

# Visual Studio:  cache
*.bsc
*.cache
*.ilk
*.opensdf
*.sbr
*.sdf
*.suo

# Visual Studio:  debugging
*.idb
*.ncb
*.pdb

# Visual Studio:  logging
*.lastbuildstate
*.log
*.manifest
*.plg
*.tlog
